

.mensaje-exito {
  background-color: #d4edda;
  color: #155724;
  padding: 8px;
  margin-bottom: 10px;
  border-left: 4px solid #28a745;
}

.mensaje-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  margin-bottom: 10px;
  border-left: 4px solid #dc3545;
}
