<div class="listaProductos-container">
    <h1>Lista de Productos</h1>
    <div class="busqueda">
        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterProducts()" placeholder="Buscar productos...">
    </div>
    <ul>
        <li *ngFor="let producto of pagedProductos">
            <div class="producto-item">
                <h2>{{ producto.nombre }}</h2>
                <p>Código: {{ producto.codigo_producto }}</p>
                <p>Marca: {{ producto.marca?.nombre || 'N/A' }}</p>
                <p>Modelo: {{ producto.modelo?.nombre || 'N/A' }}</p>
                <p>Categoría: {{ producto.categoria?.nombre || 'N/A' }}</p>
                <p>Precio: {{ producto.precio_online | currency }}</p>
                <button (click)="abrirModal(producto)">Ver Detalles</button>
            </div>
        </li>
    </ul>
    <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
    <div class="filter">
        <label for="search">Buscar:</label>
        <input type="text" id="search" [(ngModel)]="searchTerm" (ngModelChange)="filterProducts()" placeholder="Buscar productos...">
    </div>
    <p *ngIf="filteredProductos.length === 0">No se encontraron productos.</p>
</div>



<!-- Modal de Detalles -->
<div class="modal-backdrop" *ngIf="modalAbierto">
  <div class="modal">
    <h2>Detalles del Producto</h2>
    <p><strong>Nombre:</strong> {{ productoSeleccionado?.nombre }}</p>
    <p><strong>Código:</strong> {{ productoSeleccionado?.codigo_producto }}</p>
    <p><strong>Precio:</strong> {{ productoSeleccionado?.precio_online | currency }}</p>

    <h3>Stock por Sucursal</h3>
    <ul>
      <li *ngFor="let stock of productoSeleccionado?.stock_por_sucursal">
        {{ stock.nombre_sucursal }}: {{ stock.stock }} unidades
      </li>
    </ul>

    <label for="sucursal">Seleccionar Sucursal:</label>
    <select id="sucursal" [(ngModel)]="sucursalSeleccionada" (change)="onSucursalChange()">
    <option *ngFor="let s of productoSeleccionado?.stock_por_sucursal" [value]="s.nombre_sucursal">
        {{ s.nombre_sucursal }}
    </option>
    </select>

    <label for="cantidad">Cantidad:</label>
    <input type="number" [(ngModel)]="cantidadSeleccionada" [max]="maxStockSucursal" min="1" id="cantidad" />
    <p *ngIf="cantidadSeleccionada > maxStockSucursal" class="error">Cantidad supera el stock disponible</p>


    <div class="modal-actions">
      <button (click)="confirmarAgregarAlCarrito()">Agregar al Carrito</button>
      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>
