<div class="home-hero">
  <div class="container text-center py-5">
    <h1 class="display-4 mb-3">Bienvenido a Ferretería Ferramas</h1>
    <p class="lead mb-4">Tu tienda online de herramientas, materiales y soluciones para la construcción y el hogar.</p>
    <a routerLink="/productos" class="btn btn-primary btn-lg">Ver productos</a>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="assets/img/homePage/cardimg1.jpg" class="card-img-top" alt="Herramientas">
        <div class="card-body">
          <h5 class="card-title">Herramientas</h5>
          <p class="card-text">Gran variedad de herramientas para profesionales y aficionados.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="assets/img/homePage/cardimg1.jpg" class="card-img-top" alt="Materiales de construcción">
        <div class="card-body">
          <h5 class="card-title">Materiales</h5>
          <p class="card-text">Todo lo que necesitas para tus proyectos de construcción y remodelación.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="assets/img/homePage/cardimg1.jpg" class="card-img-top" alt="Ofertas">
        <div class="card-body">
          <h5 class="card-title">Ofertas</h5>
          <p class="card-text">Aprovecha nuestras promociones y descuentos exclusivos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
